[multiplayer_side]
    id=ANLEra_Merfolk
    #textdomain wesnoth-multiplayer
    name= _ "Merfolk"
    image="units/human-peasants/peasant.png"
    type=ANLEra Merman Citizen
    leader=Merman Warrior,Merman Netcaster,Merman Spearman,Mermaid Priestess,Mermaid Enchantress
    recruit=ANLEra Merman Citizen,Mermaid Initiate
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,mixed fighter,scout
    [/ai]
    #textdomain wesnoth-ANLEra
    description= _ "A New Land was designed for this faction."
[/multiplayer_side]
