#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=ANLEra_Merfolk
    name= _ "Merfolk"
    image="units/saurians/devotee.png"
    type=ANLEra Merman Citizen
    leader=
    recruit=ANLEra Merman Citizen,Mermaid Initiate
    [ai]
        recruitment_pattern=fighter,scout,archer,fighter,healer
    [/ai]
    # wmllint: markcheck off
    #textdomain wesnoth-ANLEra
    description="<img>src='portraits/young-205.png'</img>"
    # wmllint: markcheck on
[/multiplayer_side]
