#textdomain wesnoth-ANLEra

[terrain_type]
    symbol_image=terrain/elven2.png
    id=ANLEra_university
    name= _ "University"
    string=^Vey
    aliasof=_bas, Vt
    default_base=Gg
    heals=6
    gives_income=true
    help_topic_text= _ "Due to their dedication to research, the Universities heal less."
[/terrain_type]

[terrain_type]
    symbol_image=terrain/keep-tile.png
    id=ANLEra_merfolk_mine
    name= _ "Flodded Mine"
    string=^Vmh
    aliasof=Ct, Wrt
    default_base=Hh
    heals=6
    gives_income=true
    help_topic_text= _ "Mines extract gold from the earth when a citizen is on them."
[/terrain_type]
