#define PLAYER_SIDE
    team_lock=yes
    color_lock=no
    gold_lock=no
    income_lock=no
    leader_lock=no
    faction_lock=no
    controller_lock=no
    team_name=settlers
    user_team_name= _ "teamname^Settlers"
    controller=human
    share_vision=all
    fog=yes
    gold=100
    village_gold=2
    [ai]
        aggression=0.3
        caution=0.5
        support_villages=yes
    [/ai]
    [variables]
        dont_make_me_quick=yes
    [/variables]
#enddef

[side]
    side=1
    {PLAYER_SIDE}
    faction=ANLEra_Humans
    # Wouldn't reach it in first turn.
    [village]
        x,y=19,20
    [/village]
[/side]
[side]
    side=2
    {PLAYER_SIDE}
    faction=ANLEra_Humans
    [village]
        x,y=41,20
    [/village]
[/side]
[side]
    side=3
    {PLAYER_SIDE}
    faction=ANLEra_Humans
    [village]
        x,y=41,36
    [/village]
[/side]
[side]
    side=4
    {PLAYER_SIDE}
    faction=ANLEra_Humans
    [village]
        x,y=19,36
    [/village]
[/side]
[side]
    side=5
    {PLAYER_SIDE}
    faction=ANLEra_Humans
    [village]
        x,y=19,36
    [/village]
[/side]

#define AI_SIDE
    controller=ai
    allow_player=no
    disallow_observers=yes
    team_name=enemies
    user_team_name= _ "teamname^Enemies"
    fog=yes
    gold=25
    income=16
    village_gold=6
    controller_lock=yes
    faction_lock=yes
    leader_lock=yes
    team_lock=yes
    color_lock=yes
    gold_lock=no
    income_lock=no
    leader_lock=yes
    faction_lock=yes
    [modifications]
        {MOVEMENT_RESTRICTION}
    [/modifications]
    [ai]
        aggression=1.0
        recruitment_pattern=fighter
        [avoid]
            [filter]
                side=10
            [/filter]
            radius=1
        [/avoid]
        {MODIFY_AI_DELETE_CANDIDATE_ACTION 6 main_loop retreat_injured}
        {MODIFY_AI_DELETE_CANDIDATE_ACTION 6 main_loop castle_switch}
    [/ai]
#enddef

[side]
    {AI_SIDE}
    side=6
    recruit=Goblin Spearman
    type=Orcish Sovereign
    name= _ "Gol Goroth"
    [village]
        x,y=50,25
    [/village]
[/side]
[side]
    {AI_SIDE}
    side=7
    recruit=ANLEra Young Saurian
    type=Naga Sicarius
    name= _ "Gregory"
    [village]
        x,y=10,30
    [/village]
[/side]
[side]
    {AI_SIDE}
    side=8
    recruit=ANLEra Wose Sapling
    type=Ancient Wose
    name= _ "Tree Beard"
    [village]
        x,y=50,30
    [/village]
[/side]
[side]
    {AI_SIDE}
    side=9
    recruit=Walking Corpse
    type=Death Knight
    name= _ "Mal Sevu"
    
    [village]
        x,y=10,25
    [/village]
[/side]

# This side is for trapped units. It is allied to the AI so they don't attack it.

[side]
    side=10
    color=teal
    controller=null
    allow_player=no
    disallow_observers=yes
    hidden=yes
    share_vision=none
    team_name=settlers,enemies
    user_team_name= _ "teamname^Prisoners"
    income=-2
    gold=0
    village_gold=0
    team_lock=yes
    color_lock=no
    gold_lock=yes
    income_lock=yes
    leader_lock=yes
    controller_lock=yes
    [ai]
        ai_algorithm=idle_ai
    [/ai]
[/side]

[side]
    side=11
    color=lightblue
    controller=ai
    allow_player=no
    disallow_observers=yes
    hidden=yes
    share_vision=none
    team_name=enemies # must be in same team on this map
    user_team_name= _ "teamname^Enemies"
    gold=0
    income=-2
    village_gold=0
    team_lock=yes
    color_lock=no
    gold_lock=yes
    income_lock=yes
    leader_lock=yes
    controller_lock=yes
    [ai]
        aggression=1.0
        village_value=0
        # avoiding the AI guards in case spider is lured out
        [avoid]
            x=26,34,26,34,45,47,47,45
            y=18,18,37,37,24,27,29,32
            [filter]
                side=6,7,8,9
                level=2
            [/filter]
            radius=1
        [/avoid]
    [/ai]
[/side]


#undef AI_SIDE
#undef PLAYER_SIDE