[set_variables]
    name=crawlers
    [value]
        x=23
        y=30
    [/value]
[/set_variable]


[event]
    name=turn 2
    [filter_condition]
        [have_unit]
            type=Giant Mudcrawler
        [/have_unit]
    [/filter_condition]

    [message]
        speaker=narrator
        #textdomain wesnoth-ANLEra
        message= _ "You received word about something dangerous in the nearby shallow water."
        image=wesnoth-icon.png
    [/message]
    [message]
        side=1,2,3,4,5
        type=ANLEra Dwarvish Miner,Dwarvish Miner,ANLEra Elvish Civilian,ANLEra Drake Worker,ANLEra Young Saurian,Ruffian,Woodsman,Peasant,Goblin Spearman,Walking Corpse
        message= _ "Maybe we should be careful, there’s a lot of dangers about."
        scroll=no
        highlight=no
        image_pos=right
        mirror=yes
    [/message]
    [if]
        [have_unit]
            type=Giant Mudcrawler
            [filter_location]
                x,y=23,20
                radius=4
            [/filter_location]
        [/have_unit]
        [then]
            [scroll_to]
                x,y=23,20
                [filter_side]
                    side=1
                [/filter_side]
            [/scroll_to]
        [/then]
    [/if]

    [if]
        [have_unit]
            type=Giant Mudcrawler
            [filter_location]
                x,y=37,20
                radius=4
            [/filter_location]
        [/have_unit]
        [then]
            [scroll_to]
                x,y=37,20
                [filter_side]
                    side=2
                [/filter_side]
            [/scroll_to]
        [/then]
    [/if]

    [if]
        [have_unit]
            type=Giant Mudcrawler
            [filter_location]
                x,y=23,36
                radius=4
            [/filter_location]
        [/have_unit]
        [then]
            [scroll_to]
                x,y=23,36
                [filter_side]
                    side=4
                [/filter_side]
            [/scroll_to]
        [/then]
    [/if]

    [if]
        [have_unit]
            type=Giant Mudcrawler
            [filter_location]
                x,y=37,36
                radius=4
            [/filter_location]
        [/have_unit]
        [then]
            [scroll_to]
                x,y=37,36
                [filter_side]
                    side=3
                [/filter_side]
            [/scroll_to]
        [/then]
    [/if]

    [if]
        [have_unit]
            type=Giant Mudcrawler
            [filter_location]
                x,y=28,30
                radius=4
            [/filter_location]
        [/have_unit]
        [then]
            [scroll_to]
                x,y=28,30
                [filter_side]
                    side=5
                [/filter_side]
            [/scroll_to]
        [/then]
    [/if]

    [delay]
        time=250
    [/delay]

    [message]
        speaker=narrator
        message= _ "Beware of enemy creatures in the mud."
        #textdomain wesnoth-anl
        image=wesnoth-icon.png
    [/message]
[/event]